{% extends "layout.html" %}

{% block content %}
    <div class="container>">
        <div class="row">
            <div class="col">
            </div>
            <div class="col">
                <h2 dir="rtl">מידע על הפרויקט</h2>
                <p dir="rtl"> הפרויקט הוא במסגרת לימודי מדעי המחשב בבית ספר תיכונט כיתה י</p>
                <p dir="rtl">הפרויקט הוא עבודת הגמר שלנו במקצוע מדעי הנתונים לשנה הראשונה במדעי המחשב הפרויקט מהווה 30% מציון הבגרות  </p>
                <p dir="rtl">  הפרוקיט משלב את כל האלמנטים שלמדנו בשנה זו ומציג אותם באתר אינטרנט אחד אשר מכיל בתוחו כמה וכמה דפים</p>
                <p dir="rtl"> האלמנטים שהשתמשנו בהם בפרויקט </p>
                <ul style="list-style-type:square;" dir="rtl">
                    <li>Flask</li>
                    <li>wtf</li>
                    <li>Pandas</li>
                    <li>Bootstrap</li>
                </ul>
                <p dir="rtl"> במהלך הפרויקט איתרתי מאגרי מידע באינטרנט והורדתי אותם למחשב ובפרויקט ניתחתי אותם והצגתי אותם בדרך נוחה לעין שכאשר בן אדם ירצה לראות יוכל בקלות להבין ולהסיק מסקנות בעצמו.</p>
                <p dir="rtl">  דרך הפרויקט למדתי ללמוד לבד ולמצוא מידע באינטרנט בכוחות עצמי </p>
                <p dir="rtl"> התוצאה הסופית של הפרויקט הינה אתר אינטרנט נגיש וזמין אשר נעים בעין וקל להבינו לכל משתמש </p>
                <div class="row my-grid-borders">
                    <table class="table table-striped heb" dir="ltr">
                        <tbody>
                            <tr>
                                <td style="color:blue;">מסמך אפיון</td>
                                <td><a class="btn btn-primary heb" href="https://drive.google.com/file/d/1np5ZGMWY92iuOWaD9I8G6ye4LWe31zOH/view?usp=sharing" target="_blank">Link &raquo;</a></td>
                            </tr>
                            <tr>
                                <td style="color:blue;">לינק לקוד ב GitHub</td>
                                <td><a class="btn btn-primary heb" href="https://github.com/yonatanshoshani/dataproject" target="_blank"> Link &raquo;</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
