{% extends "layout.html" %}

{% block content %}

        <h2 sstyle=" color :DodgerBlue;"> {{title }}.</h2>
        <h3 style="color:DodgerBlue;">{{ message }}</h3>

        <address>
            Name- Yonatan shoshani<br />
            Tel Aviv israel<br />
            <abbr title="Phone">Phone:</abbr>
            0544606954
        </address>

        <address>
            <strong>Email:</strong>   <a href="https://mail.google.com/mail/u/0/#inbox">yonatanshoshani7@gmail.com</a><br />

        </address>
       

        {% endblock %}
