{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2 style="margin-bottom: 32px; font-family:verdana;">Ebola - Data Query Page</h2>
<h7>
    This is the data query page. On this page you can view the data visually by dates and countries.
    The epidemic start date presented by the database is August 2014 and the end of the data is March 2016.
    To make the best conclusions, I suggest choosing the countries: Sierra Leone and Guinea, because
    Most countries contain almost no deaths.
</h7>
<br /> <br /><br />
<div class="row">

    <div class="col-md-4">
        <form method="post">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.countries)}}
            {{ wtf.form_field(form.startdate)}}
            {{ wtf.form_field(form.enddate)}}
            <input class="btn btn-primary" type="submit" value="submit">
        </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <h4>Ebola by countries</h4>
            <img src={{ chart }} class="img-thumbnail" alt="not found">
        </div>
    </div>
</div>



{% endblock %}