{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<h2>Corona</h2>
<h3>This is the Data base about the Corona</h3>
<h5>
    Corona virus (COVID-19) is a contagious disease caused by a new virus.
    The disease causes respiratory disease (similar to the flu) with symptoms such as cough and fever and, in more severe cases, difficulty breathing.
</h5>
<p> The data base shows us a lot of information about Corona death cases, the date it happend , the value and the country.</p>

<div class="row my-grid-borders">
    <h2>Data set fields</h2>
</div>
<div class="row my-grid-borders">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Field</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Country/Region</td>
                <td>where it happend</td>
            </tr>
            <tr>
                <td>#</td>
                <td>Blackened date</td>
            </tr>
            <tr>
                <td>Lat</td>
                <td>place on globos</td>
            </tr>
            <tr>
                <td>Long</td>
                <td>place on globos</td>
            </tr>
            <tr>
                <td>Province/State</td>
                <td>the state</td>
            </tr>

        </tbody>
    </table>
</div>
<div class="row my-grid-borders">
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form1.csrf_token }}
            <input class="btn btn-success" type="submit" name="action" value="Expand">
        </form>
    </div>
    <div class="col-md-5 my-grid-borders">
        <form method="post">
            {{ form2.csrf_token }}
            <input class="btn btn-danger" type="submit" name="action" value="Collapse">
        </form>
    </div>
</div>
<div class="row my-grid-borders">
    {{ raw_data_table | safe}}
</div>


{% endblock %}